<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <mirrors>
    <mirror>
      <id>central-proxy</id>
      <name>Local proxy of central repo</name>
      <url>http://nexus:8081/nexus/content/repositories/central</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
    <mirror>
      <id>jboss-proxy</id>
      <name>Local proxy of central repo</name>
      <url>http://nexus:8081/nexus/content/repositories/jboss</url>
      <mirrorOf>jboss-public-repository-group</mirrorOf>
    </mirror>
     <mirror>
      <id>jboss-proxy-public</id>
      <name>Local proxy of central repo</name>
      <url>http://nexus:8081/nexus/content/repositories/jboss-public</url>
      <mirrorOf>jboss-public-repository-group</mirrorOf>
    </mirror>
     <mirror>
      <id>saip</id>
      <name>Local saip repo</name>
      <url>http://nexus:8081/nexus/content/repositories/saip</url>
      <mirrorOf>saip</mirrorOf>
    </mirror>
     <mirror>
      <id>redhat</id>
      <name>Local redhat repo</name>
      <url>http://nexus:8081/nexus/content/repositories/redhat</url>
      <mirrorOf>redhat-ga-repository</mirrorOf>
    </mirror>

  </mirrors>

  <profiles>
    <!-- central repositories via HTTP. Disabled by default. -->
    <profile>
      <id>insecurecentral</id>
      <repositories>
    <repository>
    <id>saip</id>
    <url>http://nexus:8081/nexus/content/repositories/saip</url>
  </repository>
      </repositories>
    </profile>

  </profiles>
  <activeProfiles>
    <activeProfile>insecurecentral</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>saip</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>
</settings>
